
{% set nav = cms.data('footer_nav') %}

<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-nav">
                <ul class="footer-list">
                    {% for item in nav.col1 %}                        
                        <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="footer-list">
                    {% for item in nav.col2 %}                        
                        <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="footer-list">                    
                    {% for item in nav.col3 %}                        
                        <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-subscribe">
                <h3>ПОДПИШИТЕСЬ НА НАШУ НОВОСТНУЮ РАССЫЛКУ</h3>
                <input type="email" placeholder="УКАЖИТЕ СВОЙ E-MAIL" class="form-control" />
                <button class="btn">ПОДПИСАТЬСЯ</button>
            </div>
            <div class="footer-other">
                <div class="footer-langs"><a href="#" class="active">RU</a> | <a href="#">EN</a></div>
                <div class="footer-social">
                    <a href="#"><img src="../../public/icons/f.svg" height="20" /></a>
                    <a href="#"><img src="../../public/icons/vk.svg" height="20" /></a>
                    <a href="#"><img src="../../public/icons/tw.svg" height="20" /></a>
                    <a href="#"><img src="../../public/icons/inst.svg" height="20" /></a>
                </div>
            </div>
        </div>
    </div>
</footer>